*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;   
    min-height: 100vh;
    background: url(../images/p3y2-dc-nologo.png) no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    font-size: 2rem;
    color: #ffffff;
    user-select: none;
}

.navigation a{
    position: relative;
    font-size: 1.1rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #ffffff;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.wrapper{
    position: relative;
    width: 420px;
    height: 480px; 
    background: transparent;
    border: 2px solid hsla(0, 0%, 100%, 0.765);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.navigation .action-btn{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #ffffff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1rem;
    color: #ffffff;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.2s ease;
}

.navigation .action-btn:hover{
    background: #ffffff;
    color: black
}